# Patient Portal API (port 3005)
EXPO_PUBLIC_PATIENT_API_URL=http://10.0.2.2:3005

# Doctor Auth API (port 3011)
EXPO_PUBLIC_DOCTOR_AUTH_URL=http://10.0.2.2:3011

# Doctor Main API (port 3009)
EXPO_PUBLIC_DOCTOR_API_URL=http://10.0.2.2:3009

# Meeting Server API (port 3020)
EXPO_PUBLIC_MEETING_API_URL=http://10.0.2.2:3020

# Jitsi domain
EXPO_PUBLIC_JITSI_DOMAIN=meet.jit.si
